#list4 {  
      width:400px; 
      font-family:Georgia, Times, serif; 
      font-size:13px; 
  }
  
#list4 ul { 
      margin-top: 0px; 
      padding: 0px; 
      list-style-type: none;
  }
  
#list4 ul li { }

#list4 ul li a { 
      display:block; 
      text-decoration:none; 
      color:#000000; 
      background-color:#FFFFFF; 
      line-height:30px;
      border-bottom-style:solid; 
      border-bottom-width:1px; 
      border-bottom-color:#CCCCCC; 
      padding-left:10px; 
      cursor:pointer; 
  }
  
#list4 ul li a:hover {  
      color:#FFFFFF; 
      background-image:url(../images/hover.png); 
      background-repeat:repeat-x; 
  }
  
#list4 ul li a strong { margin-right:10px; }

#search_input {
      font-family: Georgia, Times, serif;
      font-size: 15px;
      width: 400px;
      margin-left:0px
  }

.highlight {
      background-color: #FFFF88;
  }
  
.outer {
    text-align: justify;
}
.outer img {
    display: inline-block;
    vertical-align: center;
}
.outer .fix {
    width: 100%;
    height: 0;
    display: inline-block;
}  

.center {
    position: absolute;
    left: 50%; 
}

.content
{
    position:absolute;
    top: 50px;
    left:0px;
    right:0px;
    bottom:0px;
    overflow-y:scroll;        
}

.server {
    display: inline-block;
    margin-right: 55px;
    padding-top: 0px;
    padding-bottom: 13px;
    padding-left: 40px;
    padding-right: 20px;
    float: right; 
    margin-top: 7px;      
}